﻿.jumbotron {
    background-image: url('../Images/logo.png');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #FCBD47
}

.btn {
    margin-bottom: 1em;
}

.radiobtn label {
    padding: 0 2em 0 0.5em;
}

.padded {
    margin:1em;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 25px;
}

footer {
    background-color: #FF6600;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.stats {
    margin: .5em;
    text-align: center;
    background-color: #CCCCCC;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    height: 170px;
}

.bignumber {
    font-size: 4em;
    color: orange;
}

/*Got this from a stack overflow post about pager styles (https://stackoverflow.com/questions/18470073/c-sharp-bootstrap-pagination-in-asp-net-gridview-pager-style?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)
    - i also modified it to look better
*/
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 4px 8px;
            line-height: 1.42857143;
            text-decoration: none;
            color: orange;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 4px 8px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

